In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
data= pd.read_csv(r'D:\Quora_Question\train.csv')

In [8]:
dt= data.sample(30000)

dt.head(2)

,id,qid1,qid2,question1,question2,is_duplicate
300717,300717,343472,19724,WhatsApp: What got me banned from Whatsapp and...,"If someone blocks me on WhatsApp, how can I un...",0
22306,22306,41886,41887,Which bank is giving the cheapest interest rat...,Which bank offers best interest rates for depo...,0

In [12]:
q_df= dt[['question1','question2']]
q_df.shape

(30000, 2)

In [35]:
from sklearn.feature_extraction.text import CountVectorizer


lst_q=list(q_df['question1'])+ (list(q_df['question2']))

cv= CountVectorizer(max_features=3000)

q1_arr,q2_arr= np.vsplit(cv.fit_transform(lst_q).toarray(),2)

In [36]:
temp_df1= pd.DataFrame(q1_arr, index= q_df.index)
temp_df2= pd.DataFrame(q2_arr, index= q_df.index)

temp_df= pd.concat([temp_df1,temp_df2],axis=1)

In [41]:
temp_df['is_duplicate']= dt['is_duplicate']

In [ ]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test= train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2, random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf= RandomForestClassifier()

rf.fit(x_train,y_train)
y_pred= rf.predict(x_test)

accuracy_score(y_test,y_pred)

In [ ]:
from xgboost import XGBClassifier

xg= XGBClassifier()

xg.fit(x_train,y_train)
y_pred= xg.predict(x_test)

accuracy_score(y_test,y_pred)